performance_and_regression_tests/microsoft_visual_studio/Debug
performance_and_regression_tests/microsoft_visual_studio/Release
performance_and_regression_tests/microsoft_visual_studio/microsoft_visual_studio.opensdf
performance_and_regression_tests/microsoft_visual_studio/microsoft_visual_studio.sdf
performance_and_regression_tests/microsoft_visual_studio/microsoft_visual_studio.suo
